@import "../font/mixin_font.scss";

.nav-container {
  $top-height: 48px;
  $router-height: 35px;

  position: relative;
  background: #3145a6;
  z-index: 3000;

  .navbar {
    width: calc(100% - 48px);
    height: $top-height;
    line-height: $top-height;
    border-radius: 0 0 24px 0;
    background-color: #4859d1;

    .menu-icon {
      margin-left: 1vw;
      height: $top-height;
      line-height: $top-height;

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
          -ms-transform: rotate(0deg); /* IE 9 */
          -moz-transform: rotate(0deg); /* Firefox */
          -o-transform: rotate(0deg);
        }
        100% {
          transform: rotate(90deg);
          -ms-transform: rotate(90deg); /* IE 9 */
          -moz-transform: rotate(90deg); /* Firefox */
          -o-transform: rotate(90deg);
        }
      }

      @-webkit-keyframes rotate {
        0% {
          -moz-transform: rotate(0deg);
        }
        100% {
          -moz-transform: rotate(90deg);
        }
      }

      .show-animation {
        animation: rotate 0.5s 1;
        animation-fill-mode: forwards;
        -webkit-animation: rotate 0.5s 1; /*Safari and Chrome*/
        -webkit-animation-fill-mode: forwards;
      }

      @keyframes un-rotate {
        0% {
          transform: rotate(90deg);
          -ms-transform: rotate(90deg); /* IE 9 */
          -moz-transform: rotate(90deg); /* Firefox */
          -o-transform: rotate(90deg);
        }
        100% {
          transform: rotate(0deg);
          -ms-transform: rotate(0deg); /* IE 9 */
          -moz-transform: rotate(0deg); /* Firefox */
          -o-transform: rotate(0deg);
        }
      }

      @-webkit-keyframes un-rotate {
        0% {
          -moz-transform: rotate(90deg);
        }
        100% {
          -moz-transform: rotate(0deg);
        }
      }

      .show-animation {
        animation: rotate 0.8s 1;
        animation-fill-mode: forwards;
        -webkit-animation: rotate 0.5s 1; /*Safari and Chrome*/
        -webkit-animation-fill-mode: forwards;
      }

      .un-show-animation {
        animation: un-rotate 0.8s 1;
        animation-fill-mode: forwards;
        -webkit-animation: un-rotate 0.5s 1; /*Safari and Chrome*/
        -webkit-animation-fill-mode: forwards;
      }


      > svg {
        line-height: $top-height;
        width: $top-height / 1.5;
        height: $top-height / 1.5;
        cursor: pointer;
      }

    }

    .home-btn {
      padding: 0 48px;
      font-size: 28px;
      /*font-weight: bold;*/
      line-height: $top-height;
      text-align: center;
      cursor: pointer;

      /*文字不可选择*/
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .middle-router-btns {
      align-self: flex-start;
      justify-self: start;
      margin-left: 28px;

      > span {
        margin: 0 8px;
        padding: 0 15px;
        $h: 28px;
        color: rgba(255, 255, 255, 0.6);
        height: $h;
        line-height: $h;
        border-radius: $h;
        cursor: pointer;

        &:hover {
          color: #fff;
        }
      }

      .active {
        color: #fff;
      }
    }

    .router-btns {
      margin-right: 28px;

      > span {
        margin: 0 8px;
        padding: 0 15px;
        $h: 28px;
        color: rgba(255, 255, 255, 0.6);
        height: $h;
        line-height: $h;
        border-radius: $h;
        cursor: pointer;

        &:hover {
          color: #fff;
        }
      }

      .active {
        color: #fff;
      }
    }
  }

  .help {
    width: 48px;

    .icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      color: #fff;
      opacity: 0.4;
      text-align: center;
      cursor: pointer;
    }
  }
}
